.question {
  background-color: rgb(186, 200, 211);
  padding: 10px;
  margin: 1rem 0;
  border-radius: 4px;
}

.qtitle {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(51, 49, 49);
  font-weight: 600;
}

.qtitle span {
  color: greenyellow;
}
